.character-counter{
    display: none;
}

#sqltext{
    height: 200px !important;
    overflow-y: scroll;
    border-bottom: none;
    padding-top: 0px !important;
}

#sqltab{
    display: flex;
    padding-top: 10px;
}
#sqltab .input-field{
    margin-top: 0px !important;
}